**/.#*
**/*~
**/*#
.idea
.vscode
.pydevproject
venv/
.cache
*.pyc
**/__pycache__
.pytest_cache/
dist
.eggs/
*.egg-info
**/build
*.swp
*.orig
.project
.coverage*
_version.py.bld
.mypy_cache
**/build.log
.eggs
ignored
**/.ipynb_checkpoints
.s3_cache
.Trash-*
.DS_Store
**/_tmp
.data
*.so
.aws
.docker
.dockerignore
.git
.gitignore
.pylintrc
.tox
README.md
_testing_output
bin
coverage.cfg
docker
notebooks
resources
scripts
tests
tox.ini
