[tool.poetry]
name = "dataknobs"
version = "0.0.6"
description = "Useful implementations of data structures and design patterns for AI knowledge bases."
authors = ["Spence Koehler <KoehlerSB747@gmail.com>"]
readme = "README.md"
packages = [{include = "dataknobs"}]

[tool.poetry.dependencies]
python = "^3.9"
numpy = "^1.23.3"
pandas = "^1.5.0"
requests = "^2.28.1"
psycopg2-binary = "^2.9.3"
python-dotenv = "^0.21.0"
nltk = "^3.7"
more-itertools = "^9.0.0"
lxml = "^4.9.2"
beautifulsoup4 = "^4.11.1"
json-stream = "^2.1.1"
scikit-learn = "^1.2.1"

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
ipywidgets = "^8.0.2"
matplotlib = "^3.6.0"

[tool.poetry.group.tests.dependencies]
pytest = "^7.1.3"
pylint = "^2.15.3"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
